body {
    text-align: center;
}

li {
    margin-bottom: 10px;
}

li button {
    margin-left: 10px;
    font-size: 12px;
    color: #666;
}

.zoo {
    text-align: center;
}

#btn {
    background-position: center;
    background-color: rgb(38, 199, 38);
    border-radius: 5px;
    font-size: 15px;
    color: white;
    border: none;
    margin: 10px;
}