body {
    text-align: center;
}

li {
    margin-bottom: 10px;
}

li button {
    margin-left: 10px;
    font-size: 12px;
    color: #666;
}

.zoo {
    text-align: center;
}

#btn {
    background-position: center;
    background-color: rgb(38, 199, 38);
    border-radius: 5px;
    font-size: 15px;
    color: white;
    border: none;
    margin: 10px;
}

#table {
    border: solid 2px;
    background-color:rgb(119, 107, 79);
    color: white;
}

#tableData {
    background-color: rgb(179, 172, 156);
    border-collapse: collapse;
    color: white;
    width: 50%;
}

tr, th {
    border: solid 1px;
    margin: 20px;
    padding: 20px;

}

h3 {
    text-align: center;
}